h1 {
  font-weight: 800;
  color: #322C87;
}

h5{
  font-weight: 800;
  color: #65AFE0;
}


/* Captions */
.home-caption {
  position: absolute;
  right: 0%;
  top: 20%;
  left: 5%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #000;
  text-align: left;
}

.lower-caption {
  position: absolute;
  bottom: 7%;
  left: 5%;
  color: #fff;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2%;
}

.dotted {
  position: relative;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.dotted:before {
  content: "";
  background-color: #63b1e5;
  width: .25em;
  height: .25em;
  display: block;
  border-radius: 100%;
  position: absolute;
  top: -.1em;
  left: .0325em;
}