body {
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.remove-padding-left {
  padding-left: 0;
}
/** Navbar **/
.navbar-custom {
  background-color: #65AFE0;
  padding: 0 !important;
  line-height: 2.5;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
  border-right: 2px solid #fff;
  
}

@media only screen and (device-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 0.8em;
  }
}

@media only screen and (device-width: 1024px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 0.89em;
  }
}

@media only screen and (device-width: 1366px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.4em;
  }
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
  background-color: #322C87;
  border-right: 2px solid #fff;
}

.home-icon {
    width: 30px;
}

.nav-item-2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.nav-item-3 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.nav-item-4 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.nav-item-7 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.nav-item-8 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.nav-item-9 {
  border-right: none !important;
}

/* navbar collapse 
.navbar-collapse.collapse {
    display: block!important;
  }
  
  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }
  
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }
  
  .navbar-right {
    float: right!important;
  }

  */

/** floating button **/
.label-container{
	position:fixed;
	bottom:86px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.floating-icon {
    width: 60px;
}
.float{
	position:fixed;
	bottom:80px;
	right:40px;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 1rem 3rem;
  border-radius: 30px;
  font-weight: 700;
}

.btn-info {
  background-color: #322C87;
  border-color: #322C87 !important;
  padding: 1.15rem 3rem;
  box-shadow: 2px 2px 5px #888888;
}

.btn-outline-info {
  border: 1px solid;
  box-shadow: 2px 2px 5px #888888;
  color: #63b1e5;
}

.modal-close-btn {
  width: 50px;
  position: absolute;
  left: 90%;
  top: 5%;
}